.people-list ol {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0;
  gap: 1.2rem;
}

.people-list li {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 300px;
  min-width: 250px;
  min-height: 66px;
  padding: 1rem;
  border: 2px solid black;
  background: white;
  border-radius: 10px;
  gap: 1.6rem;

  cursor: pointer;
}

.people-list li img {
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
}

.people-list li h2 {
  padding-bottom: 0.75rem;
  font-weight: bold;
}

.people-list li p.description {
  margin: 2rem 0 ;
}

